
.main-nav{
    box-shadow: none;
    height: 70px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    background-color: #ffffff;

    .app-title{
        position: relative;
        left: 25px;
        top: 22px;
        font-size: 25px;
        color: #3359DB;
    }
    
}